.App {
  text-align: center;
  height: 100%;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#inputName{
  width: 100%;
}

.list_persons{
    list-style: none;
}

.phone{
  margin-left: 1rem;
}
.container_contact{
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

.container_contact h5{
  margin: 0;
}

.container_contact button{
    margin: 0;
}
